<!DOCTYPE html>
<html>
  <head>
    <title>Video Player</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="player">
      <video id="video" width="640" height="360" controls>
        <source src="" type="video/mp4">
      </video>
    </div>
    <div id="playlist">
      <ul>
        <% for (var i = 0; i < playlist.length; i++) { %>
          <li><a href="#" onclick="playVideo('<%= playlist[i].file %>')"><%= playlist[i].title %></a></li>
        <% } %>
      </ul>
      <button id="minimize-btn" onclick="minimizePlaylist()">-</button>
    </div>
    <button id="playlist-btn" onclick="togglePlaylist()">Playlist</button>

    <script>
      function playVideo(file) {
        var video = document.getElementById('video');
        video.src = file;
        video.load();
        video.play();
      }

      function togglePlaylist() {
        var playlist = document.getElementById('playlist');
        var btn = document.getElementById('playlist-btn');
        if (playlist.style.display === 'block') {
          playlist.style.display = 'none';
          btn.innerHTML = 'Playlist';
        } else {
          playlist.style.display = 'block';
          btn.innerHTML = 'Close Playlist';
        }
      }

      function minimizePlaylist() {
        var playlist = document.getElementById('playlist');
        var minimizeBtn = document.getElementById('minimize-btn');
        if (playlist.style.width === '200px') {
          playlist.style.width = '50px';
          minimizeBtn.innerHTML = '+';
        } else {
          playlist.style.width = '200px';
          minimizeBtn.innerHTML = '-';
        }
      }
    </script>
  </body>
</html>
